.compositeList {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  .searchFilter {
    margin-top: 2vh;
    display: flex;
    text-align: center;
    align-items: center;
    width: 30vw;
    height: 10vh;
    margin-bottom: 3vh;
    input {
      display: flex;
      text-align: center;
      align-items: center;
      width: 30vw;
      height: 10vh;
      font-size: 2vw;
    }
  }
  .compositeData {
    display: flex;
    .compositeFilterWrap {
      display: flex;
      flex-direction: column;
      text-align: center;
      .categoryFilter {
        margin-top: 2vh;
        display: flex;
        text-align: center;
        align-items: center;
        width: 15vw;
        height: 10vh;
        select {
          display: flex;
          text-align: center;
          align-items: center;
          width: 30vw;
          height: 8vh;
          font-size: 1vw;
        }
      }

      .libraryFilter {
        margin-top: 2vh;
        display: flex;
        text-align: center;
        align-items: center;
        width: 15vw;
        height: 10vh;
        select {
          display: flex;
          text-align: center;
          align-items: center;
          width: 30vw;
          height: 8vh;
          font-size: 1vw;
        }
      }
    }
  }
}
