#libraries-item {
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 60rem;
  .library-name {
    position: relative;
    border-bottom: 1px solid #d8d8d8;
    font-size: 1.7rem;
    padding: 1rem;
    padding-right: 45rem;
    .name {
      color: #1e272bc5;
      &:hover {
        text-decoration: 1px solid underline;
      }
    }
  }
  .library-listItem {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    position: relative;
    color: #1f2a30c5;
    font-weight: 500;
    .library-id {
      position: relative;
      margin-top: 1rem;
      margin-left: 3.5rem;
      text-align: start;
      width: 15rem;
    }
    .address {
      position: relative;
      margin-top: 1rem;
      text-align: start;
      width: 20rem;
    }
    .email {
      position: relative;
      margin-top: 1rem;
      text-align: start;
      width: 20rem;
    }
    .tel {
      position: relative;
      margin-top: 1rem;
      margin-left: 3.5rem;
      text-align: start;
      width: 15rem;
    }
    .operating-time {
      position: relative;
      margin-top: 1rem;
      text-align: start;
      width: 20rem;
    }
    .holiday {
      position: relative;
      margin-top: 1rem;
      text-align: start;
      width: 20rem;
    }
  }
}
