#home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 60rem;
  animation: bg-pan-bottom 10s infinite both;
  position: relative;
  .header-img {
    width: 100vw;
    position: absolute;
    top: 0;
    opacity: 0.8;
    object-fit: cover;
    z-index: -1;
  }
  .header-img-cover {
    position: absolute;
    width: 100vw;
    height: 80rem;
    background: rgb(255, 255, 255);
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 1) 88%
    );
    top: 0;
    z-index: 0;
  }
  header {
    position: relative;
    width: 55rem;
    min-width: 55rem;
    padding: 1rem;
    padding-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    .title {
      letter-spacing: 1rem;
      font-size: 6rem;
      font-family: "Antonio", sans-serif;
      color: aliceblue;
      text-shadow: 1px 1px 3px black;
      padding-bottom: 0.5rem;
    }
    div {
      position: absolute;
      right: 1rem;
      top: 3rem;
      display: flex;
      flex-direction: column;
      .title-btn {
        text-align: center;
        padding: 0.5rem;
        border-radius: 4px;
        color: aliceblue;
        font-size: 1.5rem;
        margin: 0.2rem 0rem;
        font-family: "Nanum Gothic Coding", monospace;
        text-shadow: 1px 1px 3px black;
      }
    }
  }

  main {
    position: relative;
    width: 70vw;
    min-width: 60rem;
    .main {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 4rem;
    }
    .content-name {
      position: absolute;
      bottom: 0px;
      left: 0px;
      padding-bottom: 5px;
      transition: all 0.3s ease;
    }
    p {
      text-align: center;
      font-size: 1.3rem;
      letter-spacing: 0.1rem;
      line-height: 120%;
    }
    .quote-en {
      margin-top: 4rem;
    }
    .quote-ko {
      font-size: 1.2rem;
      margin-top: 2rem;
    }

    .featureDetail {
      height: 272vh;
      display: flex;
      flex-direction: column;

      .benefit-count {
        width: 100%;
        height: 30rem;
        display: flex;
        align-items: center;
        justify-content: space-around;
        border-top: 0.1rem solid black;
        .count-box {
          width: 16rem;
          height: 18rem;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          animation: slide-bottom-up 2s both;
          .icon {
            font-size: 7rem;
            padding-bottom: 2rem;
          }
          .content {
            font-size: 1.5rem;
            padding-bottom: 1rem;
          }
          .counts {
            font-size: 2rem;
            letter-spacing: 0.1rem;
          }
        }
      }
    }
  }
  footer {
    position: relative;
    width: 100vw;
    height: 11rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #eeeeee3b;
    .fotter-home {
      width: 100vw;
      height: 100%;
      text-align: center;
      span {
        padding-top: 1.5rem;
        display: block;
      }
      .email {
        padding-bottom: 1.5rem;
      }
      .copyright {
        padding-top: 1rem;
        color: gray;
        text-shadow: 1px 1px 1px black;
      }
    }
  }
}

/*
@keyframes bg-pan-bottom {
  0% {
    background-image: url("../../../public/img/alabaster-co-DC98wz4vNws-unsplash.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
  50% {
    background-image: url("../../../public/img/link-hoang-UoqAR2pOxMo-unsplash.jpg");
    background-size: 100% 100%;
    background-position: 30% 0%;
    background-repeat: no-repeat;
  }
  100% {
    background-image: url("../../../public/img/alabaster-co-DC98wz4vNws-unsplash.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
}
*/
