#sidebar {
  display: flex;
  flex-direction: column;
  width: 20rem;
  height: 20rem;
  border-radius: 1rem;
  z-index: 1;
  .label-btn input[type="radio"] {
    display: none;
  }
  .label-btn input[type="radio"] + span {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .label-btn input[type="radio"]:checked + span {
    background: rgb(227, 253, 255);
    background: linear-gradient(
      90deg,
      rgb(100, 237, 255) 0%,
      rgb(216, 251, 255) 100%
    );
  }
  .notice {
    background-color: #fff;
    width: 15rem;
    height: 5rem;
    border: 1px solid #d8d8d8;
    border-radius: 1rem 1rem 0 0;
    font-size: 1.5rem;
    cursor: pointer;
  }
  .information {
    background-color: #fff;
    width: 15rem;
    height: 5rem;
    border: 1px solid #d8d8d8;
    font-size: 1.5rem;
    cursor: pointer;
  }
  .map {
    background-color: #fff;
    width: 15rem;
    height: 5rem;
    border: 1px solid #d8d8d8;
    border-radius: 0 0 1rem 1rem;
    font-size: 1.5rem;
    cursor: pointer;
  }
}
