#board-list {
  display: flex;
  flex-direction: column;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  min-height: 90vh;
  background-color: aliceblue;
  .content {
    position: relative;
    font-size: 2.5rem;
    text-align: center;
  }
  .list {
    display: flex;
    text-align: center;
    justify-content: center;
    .list-title {
      display: flex;
      position: relative;
      margin-top: 3rem;
      width: 60rem;
      font-size: 1.1rem;
      font-family: "Lexend Deca", sans-serif;
      justify-content: center;
      padding: 1rem 0;
      border-top: 2px solid #57707cc5;
      border-bottom: 1px solid #57707cc5;
      .id {
        position: relative;
      }
      .title {
        position: relative;
        margin: 0 15rem;
      }
      .name {
      }
      .writedate {
        margin-left: 4rem;
      }
      .editdate {
        margin-left: 4rem;
      }
      .readcount {
        margin-left: 4rem;
      }
    }
  }

  .form-box {
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: center;

    .sidebar-box {
      position: relative;
      float: left;
    }
    .map-box,
    .info-box {
      width: 60rem;
      min-width: 60rem;
      margin-right: 20rem;
      display: flex;
    }
    .item-box {
      width: 60rem;
      min-width: 60rem;
      margin-right: 20rem;
      display: flex;
      .listitem-box {
        position: relative;
        justify-content: center;
        height: 3rem;
        border-bottom: 1px solid #57707cc5;
      }
    }
  }
}
